body {
    color: black;
    font-size: 16px;
    line-height: 1.4;
    margin: 0px auto 0px auto;
    max-width: 640px;
    width: 80vw;
    font-family: 'Helvetica', 'sans-serif';
}

header {
    border-bottom: 1px solid #aaa;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    font-size: inherit;
}

nav {
    text-align: right;
}

nav a {
    color: black;
    font-size: 1.0rem;
    font-weight: bold;
    font-style: normal;
    margin-left: 12px;
    text-decoration: none;
}

footer, footer a {
    font-style: italic;
    border-top: 1px solid #aaa;
    color: #555;
    font-size: 0.7rem;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

footer a {
    border-top: none;
}

footer a.imprint {
    text-align: left;
    float: left;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

a {
    color: black;
    font-style: italic;
    font-size: 1.1rem;
}

article {
    font-family: 'Georgia', 'serif';
    font-size: 1.1rem;
}

article .header, li.post{
    color: #555;
    font-size: 0.9rem;
    font-style: italic;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

.figure {
    display: flex;
    align-items: center;
}

pre code {
    font-size: 0.9rem;
}

.logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
